157113398-261b05fe-9007-4188-9b74-34749a895629.png
guide des etapes clées.pdf
maquette desktop.png
css ok.png
html ok.png
presentation/presentation.css
presentation/presentation.html
presentation/presentation.odp
presentation/images/activiteHtml.png
presentation/images/activityCss.png
presentation/images/activityCssMobile.png
presentation/images/chrome.png
presentation/images/chromeFirefox.jpg
presentation/images/contrainte.png
presentation/images/css.png
presentation/images/decoupeMaquette1.png
presentation/images/decoupeMaquette2.png
presentation/images/figma.png
presentation/images/filterCss.png
presentation/images/filterCssMobile.png
presentation/images/filterCssTab.png
presentation/images/filterHtml.png
presentation/images/firefox.png
presentation/images/font awesome.png
presentation/images/footerCss.png
presentation/images/footerCssMobile.png
presentation/images/footerHtml.png
presentation/images/formCss.png
presentation/images/formCssMobile.png
presentation/images/formHtml.png
presentation/images/header.png
presentation/images/headerCss.png
presentation/images/headerCssMobile.png
presentation/images/herbergementCss.png
presentation/images/herbergementCssMobile.png
presentation/images/herbergementHtml.png
presentation/images/html.png
presentation/images/maquette mobile 1.png
presentation/images/maquette mobile 2.png
presentation/images/maquette mobile 3.png
presentation/images/maquette tablette.png
presentation/images/maquettes.png
presentation/images/responsive.png
presentation/images/specification.png
presentation/images/versionning.png
presentation/presentationV2.odp
presentation/images/decoupageMaquette1.png
presentation/images/decoupageMaquette2.png
presentation/images/decoupageMaquetteFinal.png
